:root {
  --green: #007a67;
  --yellow: #cadb1f;
  --steel: #00677a;
  --white: #ffffff;
  --black: #000000;
  --lightgrey: #bababa;
  --background: var(--black);
  --headers: var(--white);
  --subtext: var(--lightgrey);
  --colortheme: var(--yellow);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--subtext);
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/pic3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 2;
    max-height: 100%;
}

.logo {
  max-width: 100px;
}

.logonavbar {
  max-width: 40px;
}

.normal-link {
  color: var(--subtext);
}

a, a:hover {
  color: white;
  text-decoration: none;
}

a:hover {
  font-weight: normal;
  color: var(--colortheme);
}

nav li:hover,
nav li.router-link-active,
nav li.router-link-exact-active {
  color: var(--colortheme);
  font-weight: normal;
}

ul {
  list-style: none;
}

li {
  margin: 0 20px 0 20px;
}

.col-sm-4 {
  padding-bottom: 15px;
}

#page {
  margin: 0px auto;
  max-width: 800px;
  text-align: center;
  overflow-y: auto;
  max-height: calc(100% - 150px);
}


#gigs {
}

h4 {
  font-family: 'Rajdhani', sans-serif;
  color: var(--headers);
}

.container.body-content {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container-fluid {
  padding: 0px;
}

.triangle {
  max-width: 70px;
  margin: 20px;
}

.pagecontainer {
  margin-top: 50px;
}

#home {
  margin-top: 0px;
}

.nav {
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-family: 'Rajdhani', sans-serif;
}

#mynav {
  font-family: 'Rajdhani', sans-serif;
  border-bottom: 1px solid;
  border-color: var(--colortheme);
  font-size: 22px;
  text-align: center;
}

ul.navbar-nav.mr-auto {
    text-align: center;
    margin: 0 auto;
}

.navbar-toggler-icon {
  background-image: url("../images/logos/circle.png");
}

footer {
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.grey .fa {
  color: var(--lightgrey);
  background-color: transparent;
  font-size: 20px;
  width: 45px;
  border: 1px solid;
  padding: 10px;
  margin: 20px 5px;
}

.grey .fa:hover {
  color: var(--colortheme);
}

.imagethumbnail {
  margin-top: 30px;
}

.img-thumbnail {
  padding: 0px;
  border: 0px solid;
  border-color: var(--colortheme);
}

.grayscaleimg {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.imageborder {
  border: 1px solid;
  border-color: var(--colortheme);
  border-radius: .25rem;
}

.row {
  margin-top: 10px;
  text-align: left;
}

.highline {
  border-bottom: 1px solid;
  border-color: var(--subtext);
}

.yellow .fa {
  color: var(--colortheme);
  background-color: transparent;
  font-size: 20px;
  width: 45px;
  border: 1px solid;
  border-color: var(--colortheme);
  padding: 10px;
  margin: 20px 5px;
}

.yellow .fa:hover {
  color: var(--subtext);
  border-color: var(--subtext);
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-soundcloud {
    background: #ff6600;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
